footer {
    background-color: $color4;
    display: flex;
    flex-direction: column;
    padding: 25px 22px;

    h2 {
        font-family: $fonttitle;
        color: white;
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 10px 0;
    }

    .list_footer {
        display: flex;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            height: 20px;
            font-size: 16px;
            margin-top: 7px;

            .bold-footer {
                font-weight: 500;
            }
        }
    }
}